/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/bench -profile test_hgsv,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'HGSVC test profile'
    config_profile_description = 'HGSVC chr21 test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = 'assets/test_dataset_hgsv.csv'
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = 6.GB
    max_time   = 6.h

    // Genome references
    genome = 'GRCh38'
}
